@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
}

/*The following is for rotating an image*/
#limelight-feed {
    display: block;
    transform-origin: top left;
    transform: scale(1.3) rotate(-90deg) translate(-100%);
}